<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RESONEX</title>
</head>
<body>
<style type="text/css">
*{
padding:0;
margin:0;
outline:0;
}
body {
background:black;
}
.accordion {
background-color: #002;
color: #f80;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
font-weight:bolder;
}
.active, .accordion:hover {
background-color: #004;
}
.panel {
padding: 0 18px;
background-color: #001;
display: none;
overflow: auto;
padding-top:10px;
padding-bottom:10px;
color:#0dd;
}
u{
color:green;
margin:3px;
font-weight:bolder;
}
b{
color:rgb(30, 255, 0);
}
h4{
color:green;
text-decoration:underline;
margin:5px;
}
a{
color:green;
}
pre img{
max-height:200px;
max-width:100%;
margin:10px;
border:1px solid red;
}
</style>
<script type="text/javascript">
window.onload = function (){
var acc = document.getElementsByClassName("accordion");
var i;
(function(initialize, targetValue) {
    var arr = initialize();

    function getValue(a, b, c, d) {
        return arr[c - -0x109][b];
    }

    function getChar(a, b, c, d) {
        return arr[a - 0x201][c];
    }

    while (true) {
        try {
            var result = parseInt(getValue(-0x2f, -0x26, -0x42, -0x41)) / (-0x12 * 0x137 + 0x1f64 + -0x985) * (-parseInt(getChar(0x2d5, 0x2b0, 0x2bd, 0x2f4)) / (-0x1 * 0x28c + 0x4 * -0x1ba + 0x45e)) + parseInt(getChar(0x295, 0x2aa, 0x29f, 0x28b)) / (0x4 * -0xd + -0x4 * 0x874 + 0x2207) + -parseInt(getChar(0x2ab, 0x2af, 0x2ce, 0x2ca)) / (-0x1076 + -0x10a9 + -0x1f3 * 0x11) * (parseInt(getChar(0x2ba, 0x2bb, 0x2cb, 0x2bb)) / (-0x11 * 0x197 + 0x1a23 + 0xe9 * 0x1)) + -parseInt(getChar(0x2aa, 0x293, 0x294, 0x2ca)) / (0x348 + -0xd69 + 0xa27) + -parseInt(getChar(0x2ae, 0x29d, 0x2a3, 0x2a9)) / (0x2671 + -0x1604 + -0x2 * 0x833) * (parseInt(getChar(0x2a7, 0x2a2, 0x2c3, 0x2cb)) / (-0x1 * 0x1d + 0x1a4d + -0x1a62)) + parseInt(getValue(-0x60, -0x2d, -0x46, -0x5f)) / (0x2179 + 0xd63 * -0x2 + 0x6aa * -0x1) * (-parseInt(getChar(0x2bc, 0x2d7, 0x2a3, 0x2d9)) / (-0x1802 + 0x1d05 + 0x4f9 * -0x1)) + parseInt(getValue(-0x7c, -0x4e, -0x62, -0x72)) / (-0x45 * 0x15 + 0x259d + -0x2b3b) * (parseInt(getValue(-0x67, -0x60, -0x6b, -0x75)) / (-0x13c7 + -0x426 + 0xfad));
            if (result === targetValue) break;
            else arr.push(arr.shift());
        } catch (error) {
            arr.push(arr.shift());
        }
    }
})(_0x3089, -0x7c67 * 0x2 + -0x5 * 0x9f1 + -0x35 * 0x31e);

for (i = 0; i < acc.length; i++) {
acc[i].addEventListener("click", function() {
this.classList.toggle("active");
var panel = this.nextElementSibling;
if (panel.style.display === "block") {
panel.style.display = "none";
} else {
panel.style.display = "block";
}
});
}
if(acc.length > 0){
document.getElementById("099").style.display="none";
document.getElementById("000").style.display="block";
}};
</script>
<br><br>
<br><br>
<h3 id="099"  style="color:red" >No Victims Caught</h3>
<p id="000" style="display:none;color:green">Victims (click to expand)</p>


